/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font: normal 14px 'Trebuchet MS', verdana
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {line-height: 19px}

body {background: url(../img/index.png) #fff;}

.up {background: #81ab47;height: 3px;display: inline-block;width: 100%;padding-top: 2px;}
.up_black {background: #cdcfcf;height: 1px;display: inline-block;width: 100%;padding-top: 2px;}
.up1 {display: inline-block;width: 100%;padding-top: 2px;border-top: 1px solid #fff}

.wrap980 {width: 960px;margin-left: auto;margin-right: auto;}
h1 {font-size: 32px;color: #444;text-shadow: 2px 2px 2px #bbb;}
.button1 {background: #81ab47;padding: 10px;color: #fff;display: inline-block;cursor: pointer;-webkit-border-bottom-right-radius: 7px;
-webkit-border-bottom-left-radius: 7px;
-moz-border-radius-bottomright: 7px;
-moz-border-radius-bottomleft: 7px;
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;
}

.button2 {background: #81ab47;padding: 5px;color: #fff;display: inline-block;cursor: pointer;-webkit-border-bottom-right-radius: 7px;
-webkit-border-bottom-left-radius: 7px;
-moz-border-radius-bottomright: 7px;
-moz-border-radius-bottomleft: 7px;
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;position: absolute;top: 0;
-moz-box-shadow: 10px 10px 5px #ccc;
-webkit-box-shadow: 10px 10px 5px #ccc;
box-shadow: 5px 5px 5px #ccc;}

.button1:hover {background: #8ab74b}

.block1 {display: inline-block;width: 310px;height: 200px;vertical-align: top;text-align: left}
.block2 {display: inline-block;width: 310px;vertical-align: top;text-align: left;padding-bottom: 20px}
.block1_img {float: left;padding-right: 15px;padding-bottom: 5px}
.footer1 {background: url(../img/grad.png) left bottom repeat-x}

.img_border {padding: 10px;border: 1px solid #ccc}
a {text-decoration: none;color: #000;color: #555}
a:hover {color: green}
a:active {position: relative;bottom: 1px}

.app1 {display: inline-block;background: url(../img/apple.png) left 77px ;width: 63px;height: 77px;cursor: pointer}
.app1:hover {background: url(../img/apple.png) left top;}
.app1_on {display: inline-block;background: url(../img/apple.png) left top ;width: 63px;height: 77px;}

.and {display: inline-block;background: url(../img/android.png) left 70px ;width: 60px;height: 70px;cursor: pointer}
.and:hover {background: url(../img/android.png) left top;}
.and_on {display: inline-block;background: url(../img/android.png) left top ;width: 60px;height: 70px;}
.img_1 {text-align: center;padding-top: 20px}

.button3 {padding: 19px;background: #81ab47;color: #fff;border: 0;-webkit-border-radius: 7px;
-moz-border-radius: 7px;border-radius: 7px;cursor: pointer}
.button3:hover {background: #8ab74b;-webkit-box-shadow: 0px 0px 10px 1px #8ab74b;
-moz-box-shadow: 0px 0px 10px 1px #8ab74b;
box-shadow: 0px 0px 10px 1px #8ab74b;}

/*---------------------------------
 *  Carousel > Continuous
 *---------------------------------*/
.carousel-continuous{width:630px;height:84px;}

/* Navbar */
.carousel-continuous .sliderkit-nav{left:0;bottom:0;width:580px;height:64px;padding:10px;background: #f0f0f0}
.carousel-continuous .sliderkit-nav-clip ul li{float:left;margin:0 5px 0 0;}
.carousel-continuous .sliderkit-nav-clip ul li a{display:block;width:96px;height:64px;overflow:hidden;margin:0;opacity:0.8;}
.carousel-continuous .sliderkit-nav-clip ul li a:hover{opacity:1;}

/* Navbar buttons */
.carousel-continuous .sliderkit-nav .sliderkit-nav-btn{position:absolute;top:0;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-btn span{display:none;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-btn a{display:block;width:15px;height:84px;background:transparent url("../img/arrows-h.png") no-repeat center 0;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-prev{left:10px;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-next{right:10px;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-prev a{background-position:-89px center;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-next a{background-position:-108px center;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-prev a:hover,
.carousel-continuous .sliderkit-nav .sliderkit-nav-prev a:focus{background-position:-126px center;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-next a:hover,
.carousel-continuous .sliderkit-nav .sliderkit-nav-next a:focus{background-position:-145px center;}

/* Buttons > Disable */
.carousel-continuous .sliderkit-nav .sliderkit-btn-disable{opacity:0.3/*can be set to any value until 1*/;cursor:default;}


