ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,form,body,html,p,blockquote,fieldset,input,object,iframe { margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: none; }

/* Structure */

body {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #333;	
}

/* Typography */
	
h2, h3, h4 {
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 12px;
	font-weight: bold;
}
	
h2 {
	font-size: 14px;
	font-weight: bold;
}
	
h3 {
	font-size: 13px;
	font-weight: bold;
}

h4 {
	font-size: 11px;
}

a {
	color: #096DD1;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0 0 9px 0;
}

.lite {
	color: #999;
}

/* Lists */

ul {
	list-style: outside;
	margin: 0 0 9px 16px;
	list-style-type: disc;
}

dt {
	font-weight: bold;
}

dd {
	padding: 0 0 9px 0;
}

/* Menus */

.menu-right li {
	list-style-type: none;
	display: inline;	
	margin: 0 0 0 15px;
}

/* Forms */

form fieldset {
	border: 2px solid #e5e5e5;
	clear: both;
	margin-bottom: 9px;
	overflow: hidden;
	padding: 9px 18px;
}

form legend {
	background: #e5e5e5;
	color: #262626;
	margin-bottom: 9px;
	padding: 2px 11px;
}

form label {
	font-weight: bold;
	margin-right: 6px;
	text-align: right;
	width: 50px;
}

textarea, input, select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	vertical-align: middle;		
}

.input {
	padding: 2px 0 2px 3px;
	border: 1px solid #848484;	
}

form button {
	vertical-align: middle;	
}

.button {
	height: 24px;
	margin: 0;
	padding: 3px 6px;
	background: #f1f1f1 url(../images/bg-panel-header.gif) left bottom repeat-x;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	vertical-align: middle;
	border: 1px solid #808080;
	-moz-border-radius: 3px;
		
}

* html .button {
	padding: 3px 1px;		
}

.searchField {
	width: 150px;
	overflow: hidden;
	line-height: 15px; 
	margin: 0;
	padding: 4px 0 3px 5px;
	border: 1px solid #808080;	
	border-right: 0;
	vertical-align: middle;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;				
}

.searchButton {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;		
}	

* html .toolbox .searchField, * html .toolbox .searchButton { /* IE6 Hack */
	margin-top: -1px;		
}

* html .toolbox .button { /* IE6 Hack */
	vertical-align: top;
	margin-top: 0;			
}

*:first-child+html .toolbox .searchField, *:first-child+html .toolbox .searchButton { /* IE7 Hack */
	margin-top: -1px;	
}

*:first-child+html .toolbox .button { /* IE7 Hack */
	vertical-align: top;
	margin-top: 0;	
}

.formRow {
	margin: 0 0 8px 0;
}

.buttonRow {
	margin-bottom: 10px;	
}

/* Code */

pre {
	background-color: #f2f2f2;
	color: #070;
	display: block;
	font-family: 'Courier New', Courier, monospace;
	font-size: 11px;
	overflow: auto;
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #ddd;	
}

/* Status Messages */
.error,
.notice, 
.success    { padding: 8px; margin-bottom: 10px; border: 2px solid #ddd; }
.error      { background: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #817134; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #529214; border-color: #C6D880; }
.error a    { color: #D12F19; }
.notice a   { color: #817134; }
.success a  { color: #529214; }

/* Dividers */

hr {
	background-color: #d3d3d3;
	color: #ccc;
	height: 1px;
	border: 0px;
}

/* Misc */

.nobr {
	white-space: nowrap;
}
