#dockWrapper {
	display: none;
	width: 100%;
}

#dockWrapper.top {
}

#dock {
	position: relative;
	padding: 3px 16px 0 6px;
	bottom: 0;
	left: 0;
	background: #f2f2f2;
	min-height: 27px;
	height: auto;
}

*html #dock {
	height: 30px; /* Used for IE 6.0 since it does not support min-height */
}

.dockTab {
	float: left;
	position: relative;	
	font-size: 11px;
	width: 150px;
	height: 24px;
	margin: 0 3px 2px 0;
	overflow: hidden;	
	cursor: pointer;
	background: url(../images/dock-tabs.gif) left top no-repeat;
}

.dockTab.activeDockTab {	
	background-position: left -24px;
}

.dockText {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	font-weight: bold;
	color: #555;	
	text-align: left;
	padding: 4px 10px 2px 10px;
	width: 130px;
	height: 19px;
	overflow: hidden;
}

.dockText:hover {
	color: #333;
}

.dockTab.activeDockTab .dockText {
	color: #333;
}

#dockCanvas {
	position: absolute;
	top: 5px;
	right: 3px;
	z-index: 2;	
}

#dockPlacement {
	position: absolute;
	top: 4px;
	right: 8px;
	width: 10px;
	height: 9px;	
	opacity: 0;
	cursor: pointer;
	z-index: 3; /* for IE */
	text-align: right;	
}

#dockAutoHide {
	position: absolute;
	top: 14px;
	right: 8px;
	width: 10px;
	height: 9px;	
	opacity: 0;
	cursor: pointer;
	z-index: 3; /* for IE */
	text-align: right;	
}

.dockButtonEnabled {
	background-color: #7399bf;
}

.dockButtonDisabled {
	background-color: #aaa;	
}

.dockButtonTrue {
	background-color: #33cc33;
}
