ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,form,body,html,p,blockquote,fieldset,input,object,iframe { margin: 0; padding: 0; }
a img,:link img,:visited img {border: none;}
table {border-collapse: collapse; border-spacing: 0;}
:focus {outline: none;}

/* Structure */

body {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #cfcfcf;
}

input {border: 0;border: 1px solid #444;margin: 1px 0}

/* Typography */

h2, h3, h4 {
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 12px;
	font-weight: bold;
	color: #fff;		
}

h2 {
	font-size: 14px;
	font-weight: bold;
}

h3 {
	font-size: 13px;
	font-weight: bold;
}

h4 {
	font-size: 11px;
}

a {
	color: #A5DFF2;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0 0 9px 0;
}

.lite {
	color: #999;
}

/* Lists */

ul {
	list-style: outside;
	margin: 0 0 9px 16px;
	list-style-type: disc;
}

dt {
	font-weight: bold;
}

dd {
	padding: 0 0 9px 0;
}

/* Menus */

.menu-right li {
	list-style-type: none;
	display: inline;	
	margin: 0 0 0 15px;
}

/* Forms */

form fieldset {
	border: 2px solid #454545;
	clear: both;
	margin-bottom: 9px;
	overflow: hidden;
	padding: 9px 18px;
}

form legend {
	background: #454545;
	margin-bottom: 9px;
	padding: 2px 11px;
}

form label {
	font-weight: bold;
	margin-right: 6px;
	text-align: right;
	width: 50px;
}

textarea, input, select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	vertical-align: middle;				
}

textarea, input {
	color: #ddd;
	background: #282828;			
}

.input {
	padding: 2px 0 2px 3px;
	border: 1px solid #181818;	
}

form button {
	vertical-align: middle;	
}

.button {
	height: 24px;
	margin: 0;
	padding: 3px 6px;
	background: #404040 url(../images/bg-panel-header.gif) repeat-x;
	font-size: 12px;
	font-weight: bold;
	color: #A5DFF2;
	cursor: pointer;
	vertical-align: middle;
	border: 1px solid #181818;
	-moz-border-radius: 3px;		
}

* html .button {
	padding: 3px 1px;		
}

.searchField {
	width: 150px;
	overflow: hidden;
	line-height: 15px; 
	margin: 0;
	padding: 4px 0 3px 5px;
	border: 1px solid #181818;	
	border-right: 0;
	vertical-align: middle;		
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
}

.searchButton {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;		
}

* html .toolbox .searchField, * html .toolbox .searchButton { /* IE6 Hack */
	margin-top: -1px;		
}

* html .toolbox .button { /* IE6 Hack */
	vertical-align: top;
	margin-top: 0;			
}

*:first-child+html .toolbox .searchField, *:first-child+html .toolbox .searchButton { /* IE7 Hack */
	margin-top: -1px;	
}

*:first-child+html .toolbox .button { /* IE7 Hack */
	vertical-align: top;
	margin-top: 0;	
}

.formRow {
	margin: 0 0 8px 0;
}

.buttonRow {
	margin-bottom: 10px;	
}

/* Code */

pre {
	background-color: #282828;
	color: #17998E;
	display: block;
	font-family: 'Courier New', Courier, monospace;
	font-size: 11px;
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #222;	
}

/* Status Messages */
.error,
.notice, 
.success    { padding: 8px; margin-bottom: 10px; border: 2px solid #ddd; }
.error      { background: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #817134; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #529214; border-color: #C6D880; }
.error a    { color: #D12F19; }
.notice a   { color: #817134; }
.success a  { color: #529214; }

/* Dividers */

hr {
	background-color: #262626;
	height: 1px;
	border: 0px;
}

/* Misc */

.nobr {
	white-space: nowrap;
}

.textBox {
	max-width: 650px;	
}

/* CORE */

.clear {
	clear: both;
	height: 0;
}

* html .clear {
	font-size: 1px;
	line-height: 1px;
	overflow: hidden;
	visibility: hidden;
}

/* Miscellaneous
---------------------------------------------------------------- */

#themeControl {
	margin-top: 2px;	
}


/* Theme Specific Adjustments to Default Plugin Styles
---------------------------------------------------------------- */

/* Accordian */

.accordianToggler {
	background: #4c4c4c url(../images/bg-panel-header.gif) repeat-x !important;
	border-top: 1px solid #141414 !important;	
}

.topToggler {
	border-top: none !important;
}

/* Sliders */

.sliderarea {
	background: #292929 !important;
	border: 1px solid #222 !important;
}
 
.sliderknob {
	background: url(../images/knob.gif) no-repeat !important;
}	

/* DOCK */

#dockWrapper {
	display: none;
	width: 100%;
}

#dockWrapper.top {
}

#dock {
	position: relative;
	padding: 3px 16px 0 6px;
	bottom: 0;
	left: 0;
	background: #404040;
	min-height: 27px;
	height: auto;
}

*html #dock {
	height: 30px; /* Used for IE 6.0 since it does not support min-height */
}

.dockTab {
	float: left;
	position: relative;	
	font-size: 11px;
	width: 150px;
	height: 24px;
	margin: 0 3px 2px 0;
	overflow: hidden;	
	cursor: pointer;
	background: url(../images/dock-tabs.gif) left top no-repeat;
}

.dockTab.activeDockTab {	
	background-position: left -24px;
}

.dockText {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	font-weight: bold;
	color: #bbb;	
	text-align: left;
	padding: 4px 10px 2px 10px;
	width: 130px;
	height: 19px;
	overflow: hidden;
}

.dockText:hover {
	color: #fff;
}

.dockTab.activeDockTab .dockText {
	color: #fff;
}

#dockCanvas {
	position: absolute;
	top: 5px;
	right: 3px;
	z-index: 2;	
}

#dockPlacement {
	position: absolute;
	top: 4px;
	right: 8px;
	width: 10px;
	height: 9px;	
	opacity: 0;
	cursor: pointer;
	z-index: 3; /* for IE */
	text-align: right;	
}

#dockAutoHide {
	position: absolute;
	top: 14px;
	right: 8px;
	width: 10px;
	height: 9px;	
	opacity: 0;
	cursor: pointer;
	z-index: 3; /* for IE */
	text-align: right;	
}

.dockButtonEnabled {
	background-color: #b3d9ff;
}

.dockButtonDisabled {
	background-color: #aaa;	
}

.dockButtonTrue {
	background-color: #46f546;
}

/* LAYOUT */

html, body {
	background: #222;
}

body {
	margin: 0; /* Required */	
}

#desktop {
	position: relative;
	min-width: 400px; /* Helps keep header content from wrapping */
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	cursor: default; /* Fix for issue in IE7. IE7 wants to use the I-bar text cursor */
}

#desktopHeader {
	background: #f1f1f1;
}

#desktopTitlebarWrapper {
	position: relative;	
	height: 45px;
	overflow: hidden;
	background: #303030 url(../images/bg-header.gif) repeat-x;
}

#desktopTitlebar {
	padding: 7px 8px 6px 8px;
	height: 32px;
	background: url(../images/logo.gif) no-repeat;
	background-position: left 0;
}

#desktopTitlebar h1.applicationTitle {
	display: none;
	margin: 0;
	padding: 0 5px 0 0;
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
	color: #eee;
}

#desktopTitlebar h2.tagline {
	padding: 7px 0 0 0;	
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	font-size: 10px;    
	color: #b2b2b2;    
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;	
}

#desktopTitlebar h2.tagline .taglineEm {
	color: #eee;
	font-weight: bold;
}

#topNav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	position: absolute;
	right: 0;
	top: 0;
	color: #b2b2b2;
	text-align: right;
	padding: 13px 10px 0 0;
}

/* Navbar */

#desktopNavbar {
	background: #404040;
	height: 30px;
	margin: 0 0px;
	overflow: hidden; /* Remove this line if you want the menu to be backward compatible with Firefox 2 */	
}

#desktopNavbar ul {	
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 12px;
}

#desktopNavbar li {
	float: left;
}

#desktopNavbar a {
	display: block;
}	
	
#desktopNavbar ul li a {
	padding: 6px 10px 6px 10px;	
	color: #eee;
	font-weight: normal;
}

#desktopNavbar ul li a:hover {
	color: #eee;
}

#desktopNavbar ul li a.arrow-right, #desktopNavbar ul li a:hover.arrow-right {
	background-image: url(../images/arrow-right.gif);
	background-repeat: no-repeat;
	background-position: right 7px;	
} 

#desktopNavbar li ul {
	padding: 2px;
	border: 1px solid #3f3f3f;
	background: #eee url(../images/bg-dropdown.gif) repeat-y;
	position: absolute;
	width: 164px;
	left: -999em;
	z-index: 8000;
}

#desktopNavbar li:hover ul ul,
#desktopNavbar li.ieHover ul ul,
#desktopNavbar li:hover ul ul ul,
#desktopNavbar li.ieHover ul ul ul {
	left: -999em;
}

#desktopNavbar li ul ul { /* third-and-above-level lists */
	margin: -22px 0 0 163px;
}

#desktopNavbar li ul li .check {
	position: absolute;
	top: 8px;
	left: 6px;
	width: 5px;
	height: 5px;
	background: #555;
	overflow: hidden;
	line-height: 1px;
	font-size: 1px;
}

#desktopNavbar li ul li a {
	position: relative;
	padding: 1px 9px 1px 25px;
	width: 130px;
	color: #3f3f3f;
	font-weight: normal;
}

#desktopNavbar li ul li a:hover {
	background: #6C98D9;
	color: #eee;
	-moz-border-radius: 2px;	
}

#desktopNavbar li ul li a:hover .check {
	background: #eee;
}

#desktopNavbar li:hover ul,
#desktopNavbar li.ieHover ul,
#desktopNavbar li li.ieHover ul,
#desktopNavbar li li li.ieHover ul,
#desktopNavbar li li:hover ul,
#desktopNavbar li li li:hover ul { /* lists nested under hovered list items */
	left: auto;
}

#desktopNavbar li:hover { /* For IE7 */
    position: static;
}

li.divider {
	margin-top: 2px;
	padding-top: 3px;	
	border-top: 1px solid #e0e0e0;
}	

#pageWrapper {
	position: relative;
	overflow: hidden; /* This can be set to hidden or auto */
	border-top: 1px solid #181818;
	border-bottom: 1px solid #181818;
}

/* Footer */

#desktopFooterWrapper {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	overflow: hidden;
}

#desktopFooter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 24px;
	padding: 6px 8px 0 8px;
	background: #404040;
	color: #b2b2b2;
}

/* Panel Layout
---------------------------------------------------------------- */

/* Columns */

.column {
	position: relative;	
	float: left;
	overflow: hidden; /* Required by IE6 */
}

/* Panels */

.panel {
	position: relative;
	overflow: auto;
	background: #303030;
	border-bottom: 1px solid #282828;
}

.panelWrapper.collapsed .panel-header {
	border-bottom: 0;	
}	

.panelAlt {
	background: #353535;	
}	

.bottomPanel {
	border-bottom: 0;	
}	

.pad {
	padding: 8px;
}

#mainPanel {	
}	

.panel-header {
	position: relative;	
	background: #404040 url(../images/bg-panel-header.gif) repeat-x;
	height: 30px;
	overflow: hidden;
	border-bottom: 1px solid #282828;		
}

.panel-headerContent {
	padding-top: 2px;
}	

.panel-headerContent.tabs {
	background: url(../images/tabs.gif) repeat-x;
	background-position: left -68px;	
}

.panel-header h2 {
	display: inline-block;
	font-size: 12px;
	margin: 0;
	padding: 3px 8px 0 8px;
	height: 22px;
	overflow: hidden;
	color: #B3D9FF;
}

.panel-collapse {
	background: url(../images/collapse-expand.gif) left top no-repeat;
}

.panel-expand {
	background: url(../images/collapse-expand.gif) left -16px no-repeat;
}

.icon16 {
	margin: 4px 0 0 2px;
	cursor: pointer;
}

/* Column and Panel Handles */	

.horizontalHandle {
	height: 4px;
	line-height: 1px;
	font-size: 1px;
	overflow: hidden;
	background: #404040 url(../images/bg-handle-horizontal.gif) repeat-x;
}

.horizontalHandle.detached .handleIcon {
	background: transparent;	
}

.horizontalHandle .handleIcon {	
	margin: 0 auto;
	height: 4px;
	line-height: 1px;
	font-size: 1px;
	overflow: hidden;
	background: url(../images/handle-icon-horizontal.gif) center center no-repeat;
}

.columnHandle {
	min-height: 10px;	
	float: left;
	width: 4px;
	overflow: hidden;
	background: #272727 url(../images/handle-icon.gif) center center no-repeat;
	border: 1px solid #222;
	border-top: 0;
	border-bottom: 0;
}

/* Toolboxes */

.toolbox {
	float: right;
	margin-top: 3px;
	padding: 0 5px;
	height: 24px;
	overflow: hidden;
	text-align: right;
}

.panel-header-toolbox {
}

div.toolbox.divider { /* Have to specify div here for IE6's sake */
	padding-left: 8px;
	border-left: 1px solid #282828;
}

.toolbox img.disabled {
	cursor: default;
}

.iconWrapper {
	display: inline-block;
	height: 22px;
	min-width: 22px;
	overflow: hidden;
	border: 1px solid transparent;
}

* html .iconWrapper {
	padding: 1px;
	border: 0;
}

.iconWrapper img {
	cursor: pointer;
	margin: 0;
	padding: 3px;
}

.iconWrapper:hover {
	background: #404040 url(../images/bg-panel-header.gif) repeat-x;	
	border: 1px solid #181818;
	-moz-border-radius: 3px;	
}

#spinnerWrapper {
    width: 16px;
    height: 16px;
    background: url(../images/spinner-placeholder.gif) no-repeat;
    margin: 4px 5px 0 5px;
}

#spinner {
	display: none;
	background: url(../images/spinner.gif) no-repeat;
	width: 16px;
	height: 16px;
}	

/* TABS */

.toolbarTabs {	
	padding: 0 5px 2px 2px;
	background: url(../images/tabs.gif) repeat-x;
	background-position: left -70px;
	overflow: visible;
}

.tab-menu {	
	padding-top: 1px;
	list-style:	none;
	margin: 0;
	padding: 0;
	line-height: 16px;
	font-size: 11px;
}

.tab-menu li {
	display: block;
	float: left;
	margin:	0 0 5px 0;
	cursor: pointer;	
	background: url(../images/tabs.gif) repeat-x;
	background-position: left -35px;
}

.tab-menu li.selected {
	background: url(../images/tabs.gif) repeat-x;
	background-position: left 0;
}

.tab-menu li a {
	display: block;
	margin-left: 8px;
	padding: 6px 15px 5px 9px;
	text-align: center;
	font-weight: normal;
	color: #d0d0d0;
	background: url(../images/tabs.gif) repeat-x;
	background-position: right -35px;	
}

.tab-menu li.selected a {
	color: #B3D9FF;
	font-weight: bold;	
	background: url(../images/tabs.gif) repeat-x;
	background-position: right 0;
}

/* WINDOWS */

.mocha {
	display: none;
	overflow: hidden;	
	background-color: #404040;	
}

.mocha.isFocused {	
}	

.mochaOverlay {
	position: absolute; /* This is also set in theme.js in order to make theme transitions smoother */
	top: 0;
	left: 0;	
}
	
.mochaTitlebar {
	width: 100%;
	overflow: hidden;
	background: url(../images/spacer.gif?from=494949&to=393939); 	
}

.mochaTitlebar h3 {
	font-size: 12px;
	line-height: 15px;	
	font-weight: bold;
	margin: 0;
	padding: 5px 10px 4px 12px;
	color: #d0d0d0;
}

.mocha.isFocused .mochaTitlebar h3 {
	color: #B3D9FF;
}

.mochaToolbarWrapper {
	width: 100%; /* For IE */
	position: relative;
	height: 29px;
	background: #4c4c4c;	
	overflow: hidden;
	border-top: 1px solid #4c4c4c;
}

div.mochaToolbarWrapper.bottom {
	border: 0;
	border-bottom: 1px solid #222;
}

.mochaToolbar {
	width: 100%; /* For IE */
	border-top: 1px solid #222;
}

.mochaContentBorder {
	border-top: 1px solid #282828;
	border-bottom: 1px solid #282828;
}

.mochaContentWrapper { /* Has a fixed height and scrollbars if required. */
	font-size: 12px;
	overflow: auto;
	background: #303030;
}
	
.mochaContent {
	padding: 10px 12px;
}

.mocha .handle {
	position: absolute;
	background: #0f0;
	width: 3px;
	height: 3px;
	z-index: 2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE8 */		
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); /* IE6 and 7*/
	opacity: .0;	
	-moz-opacity: .0;
	overflow: hidden;
	font-size: 1px; /* For IE6 */
}

.mocha .corner { /* Corner resize handles */
	width: 10px;
	height: 10px;
	background: #f00;	
}

.mocha .cornerSE { /* Bottom right resize handle */
	width: 20px;
	height: 20px;
	background: #646464; /* This is the color of the visible resize handle */	
}

.mochaCanvasHeader {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	z-index: -1;
	visibility: hidden;
	overflow: hidden;
}

.mochaControls {
	position: absolute;
	width: 52px;
	top: 8px;
	right: 8px;
	height: 14px;
	z-index: 4;
	background: transparent;
}

.mochaCanvasControls {
	position: absolute;	
	top: 8px;
	right: 8px;	
	z-index: 3;
	background: transparent;
}

/*
	To use images for these buttons:
	1. Set the useCanvasControls window option to false.
	2. If you use a different button size you may need to reposition the controls.
	   Modify the controlsOffset window option.		
	2. Add background images to each button.

*/
.mochaMinimizeButton, .mochaMaximizeButton, .mochaCloseButton {
	float: right;
	width: 14px;
	height: 14px;
	font-size: 1px;
	cursor: pointer;
	z-index: 4;
	color: #A5DFF2;
	background: #2B2B2B;
	margin-left: 5px;
}

.mochaMinimizeButton {
	margin-left: 0;
}

.mochaMaximizeButton {
}

.mochaCloseButton {
}

.mochaSpinner{
	display: none;
	position: absolute;
	bottom: 7px;
	left: 6px;
	width: 16px;
	height: 16px;
	background: url(../images/spinner.gif) no-repeat;
}

.mochaIframe {
	width: 100%;
}  
		
/* Fix for IE6 select z-index issue */
.zIndexFix {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: mask();
	width: 100px;
	height: 100px;
	border: 1px solid transparent;
}

/* Viewport overlays
---------------------------------------------------------------- */

#modalOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE8 */		
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); /* IE6 and 7*/	
	opacity: 0;
	-moz-opacity: 0;
	z-index: 10000;
}

/* Fix for IE6 select z-index issue */
#modalFix {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE8 */		
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); /* IE6 and 7*/	
	opacity: 0;
	-moz-opacity: 0;
	z-index: 9999;
}

/* Underlay */

#windowUnderlay { 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #000;	
}

* html #windowUnderlay { 
	position: absolute;
}

/* The replaced class is used internally when converting CSS values to Canvas. These classes should not be removed. */

.mocha.replaced, .mochaTitlebar.replaced, .mochaMinimizeButton.replaced, .mochaMaximizeButton.replaced, .mochaCloseButton.replaced {
	background-color: transparent !important;
}

/* Modals */

.modal2 {
	border: 8px solid #fff;		
}

.modal2 .mochaContentBorder {
	border-width: 0px;
}
	
/* Window Themes */

.mocha.no-canvas {
	background: #4c4c4c;	
	border: 1px solid #666;	
}

.mocha.no-canvas .mochaTitlebar {
	background: #4c4c4c;	
}

.mocha.transparent .mochaTitlebar h3 {
	color: #fff;
	display: none;
}

.mocha.transparent .mochaContentWrapper {
	background: transparent;	
}

.mocha.notification {
	background: #fff;
	color: #222;	
}

.mocha.notification .mochaTitlebar {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE8 */		
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); /* IE6 and 7*/	
	opacity: .0;
	-moz-opacity: 0;
}

.mocha.notification .mochaContentBorder {
	border-width: 0px;
}

.mocha.notification .mochaContentWrapper {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	background: transparent;	
}

/* Example Window Themes */

#about {
	border: 6px solid #333;	
}

#about_contentWrapper {
	background: #191919 url(../images/logo2.gif) 3px 3px no-repeat;		
}

.jsonExample .mochaTitlebar {
	background: #6db6db;
}

.jsonExample .mochaWindowButton {
	color: #666;
	background-color: #fff;
}

#fxmorpherExample .mochaContentWrapper {
	background: #577a9e;	
}

#clock {
	background: #393939;	
}

/* SCROLLBAR */

#preview {

	position: relative;
	height: 120px;
	width: 502px;
	overflow: hidden;
}

#preview ul {
	width: 3000px;
	height: 100px;
	background-color: #303030;
}

#preview li {
	width: 100px;
	color: #fff;
	float: left;
	margin-right: 1px;
	position: relative;
	font-size: 11px;
	text-align: center;
	list-style-type: none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#bar {
	top: 0;
	margin-left: 10px;
	width: 502px;
	height: 21px;
	background-color: #444;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

#knob {
	top: 1px;
	width: 100px;
	height: 19px;
	background-color: white;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.menu_dd {padding: 5px 10px;cursor: pointer}
.menu_dd:hover {background: green}
#map_trig1:hover, #map_trig2 {background: #888;cursor: pointer}

/* progress bar */
#box {border:1px solid #ccc; width:200px; height:20px;}
#perc {background:#ccc; height:20px;}

/* example 2 */
#box2 {background:url(progress-bar-back.gif) right center no-repeat; width:200px; height:20px; float:left;}
#perc2 {background:url(progress-bar.gif) right center no-repeat; height:20px;}
#text {font-family:tahoma, arial, sans-serif; font-size:11px; color:#000; float:left; padding:3px 0 0 10px;}

/* context menu specific */
#contextmenu  {border:1px solid #999; background:#eee; width:100px; list-style-type:none; display:none;}

#contextmenu li  {margin:0; }
#contextmenu li a {display:block; padding: 3px 15px;font-size:12px; text-decoration:none; font-family:tahoma,arial,sans-serif; color:#000; background-position:8px 8px; background-repeat:no-repeat;}
#contextmenu li a:hover  {background-color:#ddd;}
#contextmenu li a.disabled {color:#ccc; font-style:italic;}
#contextmenu li a.disabled:hover {background-color:#eee;}

/* Folder Tree */

.tree {
	font-size: 11px;
	line-height: 15px;
	margin: 0 0 10px 0;
	overflow: visible;
}

.tree ul {
	margin: 0;
}

.tree li {
	list-style-type: none;
	white-space: nowrap;
}

.tree li img {
	vertical-align: middle;
	width: 18px;
	height: 18px;
}

.tree li span {
	padding-left: 2px;
}

.inp_1 {width: 100px}
.inp_2 {padding: 3px 10px;cursor: pointer}

.qq-uploader {position:relative; width: 100%;}

.qq-upload-button {

	text-align:center;
	background: #444;
	border: 1px solid #222;
	cursor: pointer;
}

.qq-upload-button:hover {background: #555}

.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {}

.qq-upload-drop-area span {
	display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}

.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {padding:0; list-style:disc;position: relative;padding-top: 7px}
.qq-upload-list li {margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
	margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("images/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

#vScroll {
	float: left;
	overflow: hidden;
	position: relative;
}

#vScroll ul {
	position: relative;
}

#vScroll li {
	color: #888;
	width: 200px;
	position: relative;
	list-style-type: none;
}

#vBar {
	top: 0;
	left: 7px;
	float: left;
	width: 11px;
	position: relative;
	background-color: #555;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	cursor: pointer;
}

#vKnob {
	left: 1px;
	width: 9px;
	height: 50px;
	background-color: white;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#vKnob:hover {background-color: #888}

* {
	margin: 0;
	padding: 0;
}

.l_gall, .r_gall {width: 20px;background: #555;cursor: pointer;margin: 0;padding: 0}
/* .l_gall {background: url(images/prev_image.gif) center center no-repeat;} */
/* .r_gall {background: url(images/next_image.gif) center center no-repeat;} */
.l_gall:hover, .r_gall:hover {background: #333;}

.td_1 {text-align: center;vertical-align: top;font-size: 10px;cursor: pointer;padding: 5px;margin: 0}
.td_img {-webkit-box-shadow: 0px 0px 3px 1px #f0f0f0;-moz-box-shadow: 0px 0px 3px 1px #f0f0f0;box-shadow: 0px 0px 3px 1px #f0f0f0;border: 1px solid #555}
.td_img:hover {-webkit-box-shadow: 0px 0px 6px 1px #aaaaaa;-moz-box-shadow: 0px 0px 6px 1px #aaaaaa;box-shadow: 0px 0px 6px 1px #aaaaaa}

#menu-container {
	display:block;
	position:relative;
	width:700px;
	margin:0px auto 0px;
	font-size:11px;
}
#drop_down_menu {
	display:block;
	position:absolute;
	clear:both;
	margin:0px;
	padding:0px;
	text-align:left;
	list-style-type:none;
	text-align:center;
	width:700px;
	float:none;
	left:0px;
	top:0px;
}
#drop_down_menu li {
	font-size:12px;
	font-weight:bold;
	float:left;
	color:#11a2db;
	padding:5px;
	cursor:pointer;
	background:#333333;
	width:150px;
}
#drop_down_menu li ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
	padding-top:10px;
}
#drop_down_menu li ul li {
	display:block;
	float:none;
	clear:both;
}
#drop_down_menu li ul li a {
	color:#FFFFFF;
	font-weight:normal;
	text-decoration:none;
	display:block;
}

.geo-warn {background: #444;border: 1px solid #333;padding: 7px 0;text-align: center;width: 100%}
.reg_inp {padding: 5px 2px;font-size: 18px;width: 160px;text-align: center}
.reg_inp:focus {background: #555;}
.small {width: 50px}
.reg_inp:hover {background: #333}
.twitter_sign_in {cursor: pointer;width: 150px;height: 22px;background: url("images/twitter_signin.png") left top no-repeat;display: inline-block}
.twitter_sign_in:hover {background: url("images/twitter_signin.png") left -24px no-repeat;}
.reg_cancel:hover {background: #ad2727}
.reg_ok:hover {background: #385f30}
.mainPanel {overflow: hidden;text-align: center}

.map-tabs {font-family: courier;padding: 0 10px;font-size: 14px}
.green {background: green}
.green:hover {background: brown}

.thumbs {background: #222;padding: 3px;margin: 2px;cursor: pointer;border: 1px solid #404040}

