.clear {
	clear: both;
	height: 0;
}

* html .clear {
	font-size: 1px;
	line-height: 1px;
	overflow: hidden;
	visibility: hidden;
}

/* Miscellaneous
---------------------------------------------------------------- */

#themeControl {
	margin-top: 2px;	
}


/* Theme Specific Adjustments to Default Plugin Styles
---------------------------------------------------------------- */

/* Accordian */

.accordianToggler {
	background: #4c4c4c url(../images/bg-panel-header.gif) repeat-x !important;
	border-top: 1px solid #141414 !important;	
}

.topToggler {
	border-top: none !important;
}

/* Sliders */

.sliderarea {
	background: #292929 !important;
	border: 1px solid #222 !important;
}
 
.sliderknob {
	background: url(../images/knob.gif) no-repeat !important;
}	
