<div id="radiusSlider" class="slider">
	<div id="radiusUpdate" class="update">Step: <span id="radiusUpdatevalue" class="updatevalue">0</span>m</div>
	<div class="sliderWrapper">
		<div id="radiusSliderknob" class="sliderknob"></div>
		<div id="radiusSliderarea" class="sliderarea"></div>
	</div>
	<div class="clear"></div>
</div>

<div id="shadowSlider" class="slider" style="margin-bottom: 0px;">
	<div id="shadowUpdate" class="update">Contours: <span id="shadowUpdatevalue" class="updatevalue">0</span></div>
	<div class="sliderWrapper">
		<div id="shadowSliderknob" class="sliderknob"></div>
		<div id="shadowSliderarea" class="sliderarea"></div>
	</div>
	<div class="clear"></div>
</div>
<br/>
<div style="text-align: right">
	<input type="button" class="qq-upload-button reg_ok" style="padding: 10px 20px" value="Refresh" onclick="Sitis.loadImg(window.img_global);"><input type="button" class="qq-upload-button reg_cancel" style="margin-left: 10px;padding: 10px 20px" value="Cancel" onclick="$('parametrics').retrieve('instance').close();">
</div>
