<div class="toolbox divider">
	<img src="images/icons/color_18/reload.png" onclick="Sitis.refreshMap('map1', false)" style="cursor: pointer;padding-top: 3px;padding-left: 7px;padding-right: 7px" />
</div>

<div class="toolbox divider">

<span id="map1_google" class="qq-upload-button map-tabs" onclick="Sitis.changeMap('map1', 'google', window.img_global, false);">google</span>
<span id="map1_yandex" class="qq-upload-button map-tabs" onclick="Sitis.changeMap('map1', 'yandex', window.img_global, false);">yandex</span>
<span id="map1_bing" class="qq-upload-button map-tabs" onclick="Sitis.changeMap('map1', 'bing', window.img_global, false);">bing</span>
<span id="map1_osm" class="qq-upload-button map-tabs" onclick="Sitis.changeMap('map1', 'osm', window.img_global, false);">osm</span>

<!--
<div onclick="Sitis.map_menu_open('map_trig1', 'menu_html')" id="map_trig1">
<div style="padding: 4px 11px;background: #000;text-align: center;width: 100px" id="map1_id"></div>
</div>
-->

</div>

<!--
<div id="menu_html" style="position: absolute;display: none">
	<div style="position: relative;color: #000;background: #444;color: #fff;">
		<div class="menu_dd" onclick="Sitis.changeMap('map1', 'google', window.img_global, false);Sitis.map_menu_open('map_trig1', 'menu_html')">Google</div>
		<div class="menu_dd" onclick="Sitis.changeMap('map1', 'yandex', window.img_global, false);Sitis.map_menu_open('map_trig1', 'menu_html')">Yandex</div>
		<div class="menu_dd" onclick="Sitis.changeMap('map1', 'bing', window.img_global, false);Sitis.map_menu_open('map_trig1', 'menu_html')">Bing</div>
		<div class="menu_dd" onclick="Sitis.changeMap('map1', 'osm', window.img_global, false);Sitis.map_menu_open('map_trig1', 'menu_html')">OpenStreetMap</div>
	</div>
</div>
-->
