<div class="toolbox divider">
	<div style="display: inline-block">
		<div id="gallery_prev" class="qq-upload-button" style="font-size: 22px;padding: 1px 7px;margin: 0 3px"><img src="images/arr_l.png" alt="slide left" /></div>
	</div>
	
	<div style="display: inline-block">
		<div id="gallery_next" class="qq-upload-button" style="font-size: 22px;padding: 1px 7px;margin: 0 3px"><img src="images/arr_r.png" alt="slide right" /></div>
	</div>
</div>
