<div class="toolbox divider">
	<img src="images/icons/color_18/reload.png" onclick="Sitis.refreshMap('map2', false)" style="cursor: pointer;padding-top: 3px;padding-left: 7px;padding-right: 7px" />
</div>

<div class="toolbox divider">
<span id="map2_google" class="qq-upload-button map-tabs" onclick="Sitis.changeMap('map2', 'google', window.img_global, false);">google</span>
<span id="map2_yandex" class="qq-upload-button map-tabs" onclick="Sitis.changeMap('map2', 'yandex', window.img_global, false);">yandex</span>
<span id="map2_bing" class="qq-upload-button map-tabs" onclick="Sitis.changeMap('map2', 'bing', window.img_global, false);">bing</span>
<span id="map2_osm" class="qq-upload-button map-tabs" onclick="Sitis.changeMap('map2', 'osm', window.img_global, false);">osm</span>

<!--
<div onclick="Sitis.map_menu_open('map_trig2', 'menu_html1')" id="map_trig2">
<div style="padding: 4px 11px;background: #000;text-align: center;width: 100px" id="map2_id"></div>
</div>
-->

</div>

<!--
<div id="menu_html1" style="position: absolute;display: none">
	<div style="position: relative;color: #000;background: #444;color: #fff;">
		<div class="menu_dd" onclick="Sitis.changeMap('map2', 'google', window.img_global, false);Sitis.map_menu_open('map_trig2', 'menu_html1')">Google</div>
		<div class="menu_dd" onclick="Sitis.changeMap('map2', 'yandex', window.img_global, false);Sitis.map_menu_open('map_trig2', 'menu_html1')">Yandex</div>
		<div class="menu_dd" onclick="Sitis.changeMap('map2', 'bing', window.img_global, false);Sitis.map_menu_open('map_trig2', 'menu_html1')">Bing</div>
		<div class="menu_dd" onclick="Sitis.changeMap('map2', 'osm', window.img_global, false);Sitis.map_menu_open('map_trig2', 'menu_html1')">OpenStreetMap</div>
	</div>
</div>
-->
