{literal}
<style>
a {color: green;text-decoration: none;border-bottom: 1px dashed #aaa}
a:hover {color: gray}
</style>
{/literal}
<body style="background: #f0f0f0;">
<div style="font-size: 38px;text-align: center;border: 1px solid #ccc;background: #ffffff;margin-top: 100px;padding: 20px 0">
<b>404</b> Page not found
<br/>
</div>
</body>
