<ul>
	<li>Hello, <b>{$USER_NAME}</b>
		<ul>
			<li style="text-align: left"><a onclick="Sitis.user_properties();">Properties</a></li>
			<li style="text-align: left"><a href="{$EXIT_URL}">Exit</a></li>
		</ul>
	</li>
</ul>
